<!DOCTYPE html>
<html>

<head>

    <title>Smart Resume Analyzer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="card upload-card">

        <div class="hero-section">

            <img
                src="{{ url_for('static', filename='resume-hero.png') }}"
                alt="Resume Analyzer"
                class="hero-image">

        </div>

        <h1>Smart Resume Analyzer</h1>

        <p class="subtitle">
            AI-Powered Resume Screening & ATS Score Checker
        </p>

        <form method="POST" enctype="multipart/form-data">

            <label>Upload Resume (PDF)</label>
            <input type="file" name="resume" required>

            <label>Upload Job Description File (PDF or TXT)</label>
            <input type="file" name="jd_file">

            <label>OR Paste Job Description</label>

            <textarea
                name="jd_text"
                rows="8"
                placeholder="Paste Job Description here..."></textarea>

            <br><br>

            <button type="submit" class="analyze-btn">
                Analyze Resume
            </button>

        </form>

    </div>

</body>

</html>